{:deps {org.clojure/core.async {:mvn/version "0.4.474"}
        aleph {:mvn/version "0.4.6"}
        bidi {:mvn/version "2.1.4"}
        yada {:mvn/version "1.2.14"}
        environ {:mvn/version "1.0.0"}}
 :aliases {:repl-test {:extra-deps {com.cognitect/transcriptor {:mvn/version "0.1.5"}}}}}
